//  variables
$primary-gray: #636c78;
$primary-dark-gray: #626b77;
$secondary-gray: #a6abb2;
$dash-backround: #f2f2f2;
$font-family: "Work Sans", sans-serif;
//  end variables

//  mixins
@mixin Flex($direction, $justifyContent, $alignItems, $gap) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
  gap: $gap;
}
//  end mixins
