@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
//  variables
$primary-color: #307ff4;
$primary-dark-gray: #307ff4;
$secondary-gray: #a6abb2;
$dash-backround: #f2f2f2;
$font-family: 'Montserrat', sans-serif;

$dark-green:#043323;
$light-green:#4ba164;
$pale-green:#649e74;
$orange:#d4a936;
$yellow:#f7c600;
$darker-gray:#b8b3af;
$base-gray:#f2f1ef;
$black:#072018;
$red:#649e74;


//  end variables

//  mixins
@mixin Flex($direction, $justifyContent, $alignItems, $gap) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
  gap: $gap;
}
//  end mixins
