@use "components/_sidebar.scss";
@use "components/topbar.scss";
@use "components/searchbox.scss";
@use "components/iconbutton.scss";
@use "_base.scss";
@use "layouts/layout";
@use "layouts/dashboar";
@use "components/button";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  font-family: base.$font-family;
}


.green-circle{
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: base.$light-green;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;

  &:hover{
    background-color: base.$dark-green;
    
  }
}