@import "../../GlobalStyles/Variables/variables";
@import "../../GlobalStyles/Mixins/mixins";

aside {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: linear-gradient(to top, $primary-dark-gray, $primary-gray);
  width: 20%;
  z-index: 99;
}
.sidebar-container {
  user-select: none;
  width: 75%;
  @include Flex(column, center, center, 4rem);
  margin: 3rem 0;
  .flex {
    @include Flex(row, center, center, 1rem);
    h4 {
      color: $dash-backround;
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  h3 {
    color: $dash-backround;
  }
  .user-profile {
    @include Flex(column, center, center, 1rem);
    color: $dash-backround;
  }

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  .route-options {
    @include Flex(column, center, center, 1rem);
    width: 70%;
  }
  .link-container {
    @include Flex(row, "", center, 1rem);
    width: 7rem;
  }
  .link {
    text-decoration: none;
    color: $secondary-gray;
  }
  .active {
    color: $dash-backround;
    * {
      fill: $dash-backround;
    }
  }
}
