@use "../base";

.input {
  @include base.Flex(column, "", flex-start, 0.3rem);
  width: 100%;
  max-height: 5rem;
  position: relative;

  input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    height: 90%;
    border-radius: 5px;
    z-index: 2;
  }

  @keyframes shake {
    25% {
      transform: translateX(4px);
    }
    50% {
      transform: translateX(-4px);
    }
    75% {
      transform: translateX(4px);
    }
  }

  .label {
    z-index: 999;
    position: absolute;
    top: 20%;
    left: 0.5rem;
    border-radius: 2px;
    transform: translateY(40%);
    color: base.$primary-gray;
    font-size: 1rem;
    pointer-events: none;
    padding: 0 0.3rem;
    transition: 0.2s ease top, 0.2s ease font-size, 0.2s ease color;
  }

  .active {
    transform: translateY(-20%);
    top: -10%;
    font-size: 0.8rem;
    transition: 0.2s ease top, 0.2s ease font-size, 0.2s ease color;
    font-weight: 500;
  }
  .error-msg {
    position: absolute;
    color: red;
    font-size: 0.7rem;
    width: 100%;
    opacity: 0;
    bottom: -25%;
  }
  .err {
    transition: all 0.5s ease;
    opacity: 1;
  }
}
.invalid {
  animation: shake 0.5s;
  transition: all 0.5s ease;
}
