@use "../base";

aside {
  top: 0;
  left: 0;
  min-height: 100vh;
  background: base.$dark-green;
  min-width: 200px;
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.sidebar-container {
  user-select: none;
  width: 75%;
  @include base.Flex(column, center, center, 4rem);
  margin: 3rem 0;
  .flex {
    @include base.Flex(row, center, center, 1rem);
    h4 {
      color: base.$dash-backround;
    }
    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .white{
    color:white
  }

  h2 {
    color: base.$dash-backround;
  }
  .user-profile {
    @include base.Flex(column, center, center, 1rem);
    color: base.$dash-backround;
  }

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  .route-options {
    @include base.Flex(column, center, center, 2rem);
    width: 70%;
  }
  .link-container {
    @include base.Flex(row, "", center, 1rem);
    width: 100%;
  }
  .link {
    text-decoration: none;
    color: base.$pale-green;
    transition: all 0.5s ease-in-out;
    *{
      fill: base.$pale-green;
    }
  }
  .active {
    color: base.$dash-backround;
    transition: all 0.5s ease-in-out;
    * {
      transition: all 0.5s ease-in-out;
      fill: base.$dash-backround;
    }
  }
}
