@use "../base";

.login-wrapper {
  @include base.Flex(row, center, center, "");
  width: 100vw;
  height: 100vh;

  .login-container {
    @include base.Flex(row, center, "", "");
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    width: 60%;
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  .absolute-background {
    @include base.Flex(column, center, center, 2rem);

    span {
      font-size: 2rem;
      color: base.$dash-backround;
    }
    background-color: base.$primary-gray;
    position: absolute;
    width: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    height: 100%;
    transition: all 0.4s ease-in-out;
  }
  .isMember {
    transform: translateX(50%);
    transition: all 0.4s ease-in-out;
  }

  .register-card,
  .login-card {
    @include base.Flex(column, center, center, 1.5rem);
    padding: 3rem;
    width: 50%;
    background-color: base.$dash-backround;
    height: 100%;
  }
}
