@use "../base";

.login-wrapper {
  @include base.Flex(row, center, center, "");
  width: 100vw;
  height: 100vh;

  section {
    @include base.Flex(column, "", center, 2rem);
    padding: 3rem;
    width: 30%;
    background-color: base.$dash-backround;
    height: 60%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}
